.global {
    --element-color: #1670d6;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #646464;
    --light-color: #ffffff;
}

.dark {
    --color: #f8f8f8;
    --background: #333333b4;
    --background-element: #424242;
    --background-transparent: #2c2c2ccc;
    --shadow: rgba(25, 25, 25, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(23%) hue-rotate(236deg) brightness(108%) contrast(92%);
}

.light {
    --color: #ffffff;
    --background: #636363b3;
    --background-element: #636363b3;
    --background-transparent: #636363b3;
    --shadow: rgba(158, 153, 153, 0.603);
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
}